In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

In [ ]:
"""
NOTES ON SVM:
using all columns for X results in long computing time, but pretty accurate results (~94%)
"""

In [28]:
data = pd.read_csv('../resources/fake_job_postings.csv')
data.columns

train_test_with_svm(source=data, xcols=['description'], ycol='fraudulent')

NameError: name 'source' is not defined

In [26]:
def train_test_with_svm(**kwargs):
    #source : type=DataFrame
    #xcols : type=list
    #ycol : type=string
    args = { 'source' : None, 'xcols' : None, 'ycol' : None }
    for key, arg in kwargs.items():
        args[key] = arg;
    print(args)

In [5]:
data.head(1)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0

In [6]:
frauds = data.loc[data['fraudulent'] == 1]

In [7]:
frauds.shape

(866, 18)

In [14]:
X = data.drop(columns=['fraudulent', 'job_id', 'telecommuting', 'has_questions'])
y = data['fraudulent']

In [19]:
#create dummies out of text data
X = pd.get_dummies(X)

In [20]:
#split to train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(13410, 51427)

In [17]:
#support vector machines model
from sklearn.svm import SVC
classifier = SVC(kernel='linear')
classifier

SVC(kernel='linear')

In [21]:
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [22]:
#run predictions
p = classifier.predict(X_test)
p

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [23]:
#scoring accuracy
print(f"Training: {classifier.score(X_train, y_train)}")
print(f"Training: {classifier.score(X_test, y_test)}")

Training: 0.9478747203579418
Training: 0.9472035794183445

In [24]:
#put results into datframe
rdf = pd.DataFrame({ 'prediction' : p, 'actual' : y_test})
rdf

       prediction  actual
16418           0       0
11698           0       0
5915            0       0
5009            0       0
2190            0       0
...           ...     ...
13480           0       0
13542           0       0
17142           0       0
9016            0       0
7707            0       0

[4470 rows x 2 columns]